

body{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    background-color:rgb(7, 7, 44);;
}


header{
    width:100%;
    height: 95px;
    margin-top: 0;
    padding: 40px;
    position: fixed;
    z-index: 1;
    background: rgba(26, 214, 199, 0);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.2);
}
    

.ContMenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.Logos{
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.Logo1{
    height: 150px;
}

.Logo2{
    height: 150px;
}

.Logos text{
    display: flex;
    align-items: center;
    height: 150px;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    color: rgba(206, 87, 8);
}

.ContNav{
   display: flex;
   align-items: center;
   margin-right: 250px;
}

.ContNav ul{
    display: flex;
}

.ContNav ul li{
    list-style: none;
    margin-left: 40px;
}

.ContNav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgba(206, 87, 8);
}



footer{
    width: 100%;
    height: 150px;
    padding-left: 0;
    position: relative;
}

.LogosFooter{
    padding-left: 7rem;
    display: flex;
    align-items: center;
}

.Logo1Footer{
    height: 80px;
}

.Logo2Footer{
    height: 80px;
}

.LogosFooter text{

    font-size: 15px;
    font-weight: bold;
    color: white;

}

.ContFooter{
    height: 100%;
   display: flex;
    align-items: center;
    padding-right: 1rem;
    justify-content: space-between;
  }
  
  .ContFooter ul{
    padding-right: 7rem;
      display: flex;
  }
  
  .ContFooter ul li{
      list-style: none;
      margin-left: 40px;
  }
  
  .ContFooter ul li a{
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      color: white;
  }


 @media screen and (max-width: 800px) {

    .ContMenu, 
     header
    
    {
        display: flex;
        flex-direction: column;
        padding-left: 3rem; 
    }

    .Logo1,
    .Logo2,
    .Logos text

    {
        text-wrap:balance;
        height: 50px;
        font-size: 20px;
    }

    .ContNav
    {
        padding-top: 1rem;
    }

    .ContNav ul li a
    {
        font-size: 12px;
    }


     footer,
     .ContFooter

    {   
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Logo1Footer,
    .Logo2Footer,
    .LogosFooter text

    {
    
        padding-top: 2rem;
        height: 50px;
        font-size: 20px;
        text-wrap:balance;

    }

    .ContRrss ul
    {
        padding-right: 2rem;
    }

    .ContRrss ul li a
    {
        font-size: 12px;
    }

 }
